.weather {
    width: 300px;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(1, 0, 68, 0.281);
    color: #152685; 
    background-color: #e9e8f5;
    margin: 10px auto; /* Adjusted margin to center the component */
    padding: 15px 20px; /* Reduced top and bottom padding */
}

.top,
.bottom {
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-day {
    color: #152685;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0; /* Ensure tight vertical alignment */
}
.city {
    font-weight: 600;
    color: #152685;
    font-size: 25px;
    line-height: 1;
}

.weatherdescr {
    font-weight: 400;
    font-size: 14px;
    margin: 1;
    color: #3447b1;
}

.temperature {
    font-weight: 600;
    font-size: 60px;
    width: auto;
    letter-spacing: -2px;
    margin: 10px 0;
}

.details {
    width: 100%;
    padding-left: 20px;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.parameter-label {
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    color: #3447b1;
}

.parameter-value {
    text-align: right;
    font-weight: 600;
    font-size: 12px;
    color: #152685;
}
