.weather {
    width: 300px;
    border-radius: 6px;
    box-shadow: 10px, -2px, 20px, 2px, #000;
    color: rgb(211, 25, 25);
    background-color: #eee;
    margin: 20px, auto, 0, auto;
    padding: 0, 20px, 20px, 20px;
}

.top,
.bottom {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-weight: 600;
    color: #000;
    font-size: 20px;
    line-height: 1;
    margin: 0;
}

.weatherdescr{
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    color: #000;
}

.temperature{
    font-weight: 600;
    font-size: 60px;
    width: auto;
    letter-spacing: -2px;
    margin: 10px 0;
}

.details{
    width:100%;
    padding-left: 20px;
}

.parameter-row{
    display: flex;
    justify-content: space-between;
}

.parameter-label{
    text-align: left;
    font-weight: 400;
    font-size: 12px;
}

.parameter-value{
    text-align: right;
    font-weight: 600;
    font-size: 12px;
}
